<form name="addtask" ng-submit="addTask()" novalidate>
    <div class="row full-width">
        <div class="columns small-4">
            <label>Name <span class="required-field">*</span>
                <input type="text" name="name" ng-model="name" required>
                <div ng-show="adduser.$submitted || adduser.name.$touched">
                    <span ng-show="adduser.name.$error.required">A name is required!</span>
                </div>
            </label>
        </div>
    </div>


    <div class="row full-width">
        <div class="columns small-4">
            <label>Description
                <input type="text" name="description" ng-model="description" required>
            </label>
        </div>
    </div>

    <div class="row full-width">
        <div class="columns small-4">
            <label>Deadline<span class="required-field">*</span>
                <datepicker>
                    <input ng-model="deadline" type="text"/>
                </datepicker>
            </label>
            {{deadline | date:'yyyy/MM/dd HH:mm'}}

        </div>
    </div>

    <div class="row full-width">
        <div class="columns small-1">
            <button class="button" type="submit" value="Submit">
                Submit
            </button>
        </div>
    </div>

</form>

<h1>{{successMsg}}</h1>
<h1>{{errorMsg}}</h1>
