<form name="adduser" novalidate>
    <div class="row full-width">
        <div class="columns small-4">
            <label>Name <span class="required-field">*</span>
                <input type="text" name="name" ng-model="name" required>
                <span ng-show="adduser.name.$touched && adduser.name.$invalid">
                    <span ng-show="adduser.name.$error.required">A name is required.</span>
                </span>
            </label>
        </div>
    </div>

    <div class="row full-width">
        <div class="columns small-4">
            <label>Email <span class="required-field">*</span>
                <input type="email" name="email" ng-model="email" required>
                <span ng-show="adduser.email.$touched && adduser.email.$invalid">
                    <span ng-show="adduser.email.$error.required">An email is required</span>
                    <span ng-show="adduser.email.$error.email">Email is not valid</span>
                </span>
            </label>
        </div>
    </div>

    <div class="row full-width">
        <div class="columns small-1">
            <button class="button" type="submit" value="Submit" ng-click="addUser()"
                    ng-disabled="adduser.name.$invalid || adduser.email.$invalid">Submit
            </button>
        </div>
    </div>

</form>


<h1>{{successMsg}}</h1>
<h1>{{errorMsg}}</h1>
<p>{{response}}</p>