<form data-abide>
    <div class="name-field">
        <label>Your name <small>required</small>
            <input type="text" required pattern="[a-zA-Z]+" ng-model="name">
        </label>
        <small class="error">Name is required and must be a string.</small>
    </div>
    <div class="email-field">
        <label>Email <small>required</small>
            <input type="email" required ng-model="email">
        </label>
        <small class="error">An email address is required.</small>
    </div>
    <button type="submit" ng-click="addUser()">Submit</button>
</form>


<h1>{{successMsg}}</h1>
<h1>{{errorMsg}}</h1>
<p>{{response}}</p>