

<form name="adduser" ng-submit="addUser(adduser)" novalidate>
    <h2>Add a user</h2>
    <div class="row full-width">
        <div class="columns small-4">
            <label>Name <span class="required-field">*</span>
                <input type="text" name="name" ng-model="name" required>
                <div class="error-msg" ng-show="adduser.$submitted || adduser.name.$touched">
                    <span class="error-msg" ng-show="adduser.name.$error.required">A name is required!</span>
                </div>
            </label>
        </div>
    </div>

    <div class="row full-width">
        <div class="columns small-4">
            <label>Email <span class="required-field">*</span>
                <input type="email" name="email" ng-model="email" required>
                <div ng-show="adduser.$submitted || adduser.email.$touched">
                    <span class="error-msg" ng-show="adduser.email.$error.required">An email is required!</span>
                    <span class="error-msg" ng-show="adduser.email.$error.email">Enter a valid email!</span>
                </div>
            </label>
        </div>
    </div>

    <div class="row full-width">
        <div class="columns small-1">
            <button class="button" type="submit" value="Submit">
                Submit
            </button>
        </div>
    </div>

</form>

<h1 class="success-msg">{{successMsg}}</h1>
<h1 class="error-msg">{{errorMsg}}</h1>
