<h1>Edit task</h1>
<form name="edittask" ng-submit="editTask(edittask)" novalidate>
    <div class="row full-width">
        <div class="columns small-4">
            <label>Name <span class="required-field">*</span>
                <input type="text" name="name" ng-model="task.name" required>
                <div ng-show="edittask.$submitted || edittask.name.$touched">
                    <span ng-show="edittask.name.$error.required">A task name is required!</span>
                </div>
            </label>
        </div>
    </div>


    <div class="row full-width">
        <div class="columns small-4">
            <label>Description
                <input type="text" name="description" ng-model="task.description">
            </label>
        </div>
    </div>

    <div class="row full-width">
        <div class="columns small-4">
            <label>Deadline<span class="required-field">*</span>
                <datepicker>
                    <input name="deadline" ng-model="task.deadline" type="text" required/>
                    <div ng-show="edittask.$submitted || edittask.deadline.$touched">
                        <span ng-show="edittask.deadline.$error.required">Enter a valid date!</span>
                    </div>
                </datepicker>
            </label>
        </div>
    </div>


    <div class="row full-width">
        <div class="columns small-4">
            <label>Assigned User
                <select ng-model="selectedUser" ng-options="user.name for user in users">
                </select>
            </label>
        </div>
    </div>


    <div class="row">
        <div class="columns small-1">Completed:</div>
        <div class="columns small-11">
            <label>
                <input name="completed" type="radio" ng-model="task.completed" ng-value="true">Yes
            </label>
            <label>
                <input name="completed" type="radio" ng-model="task.completed" ng-value="false">No
            </label>
        </div>
    </div>

    <div class="row full-width">
        <div class="columns small-1">
            <button class="button" type="submit" value="Submit">
                Submit
            </button>
        </div>
    </div>

</form>

<!--Selected User: <br>{{selectedUser}}<br><br>-->
<!--previous User: <br>{{previousUser}}<br><br>-->

<!--Task:<br>{{task}}-->
<!--<p>{{response}}</p>-->
<h1>{{successMsg}}</h1>
<h1>{{errorMsg}}</h1>
