<h1>Edit task</h1>
<form name="edittask" novalidate>
    <div class="row full-width">
        <div class="columns small-4">
            <label>Name <span class="required-field">*</span>
                <input type="text" name="name" ng-model="task.name" required>
                <div ng-show="edittask.$submitted || edittask.name.$touched">
                    <span ng-show="edittask.name.$error.required">A task name is required!</span>
                </div>
            </label>
        </div>
    </div>


    <div class="row full-width">
        <div class="columns small-4">
            <label>Description
                <input type="text" name="description" ng-model="task.description">
            </label>
        </div>
    </div>

    <div class="row full-width">
        <div class="columns small-4">
            <label>Deadline<span class="required-field">*</span>
                <datepicker>
                    <input name="deadline" ng-model="task.deadline" type="text" required/>
                    <div ng-show="edittask.$submitted || edittask.deadline.$touched">
                        <span ng-show="edittask.deadline.$error.required">Enter a valid date!</span>
                    </div>
                </datepicker>
            </label>
        </div>
    </div>


    <div class="row full-width">
        <div class="columns small-4">
            <label>Assigned User
                <select ng-model="assignedUserName" ng-options="user.name for user in users">
                </select>
            </label>
        </div>
    </div>



    <div class="row full-width">
        <div class="columns small-1">
            <button class="button" type="submit" value="Submit">
                Submit
            </button>
        </div>
    </div>


</form>

<!--<p>{{response}}</p>-->
<h1>{{successMsg}}</h1>
<h1>{{errorMsg}}</h1>
