
<div class="setting-space"></div>
<div id="setting-page" class="list" ng-controller='SettingsController'>
	<form>
	  <div class="row">
          <h3>Enter an Url here</h3>
          <div class="small-12 columns">
            <input ng-model="url" type="text" placeholder="URL">
          </div>
      </div>

    <div class="text-center">
      <button ng-click="setUrl()" class="button info">Set URL</button>
    </div>

        <div class="text-center" ng-show="set" class="callout secondary">
            <h5>Url set</h5>
        </div>
  </form>


</div>