<div>
    <h2>Tasks</h2>
    <span>a list of tasks</span>
</div>

<div>

    <!--<h1>total tasks: {{count}}</h1>-->
    <!--<h1>current page: {{page}}</h1>-->
    <!--<h1>No of skipped items: {{page*queryParams.limit}}</h1>-->
    <!--<h1>{{times}}</h1>-->

    <!--<h1>{{response}}</h1>-->

    <div class="error">
        <h3 class="error">{{errorCode}} : {{errorText}}</h3>
        {{errorMsg}}<br>
        {{successMsg}}
    </div>

    <a href="#/addtask" class="button">Add task</a>
    <div class="row">

        <div class="columns small-4">
            <label>
                <input name="completeness" type="radio" ng-model="queryParams.where.completed" ng-value="false"
                       ng-change="completenessChanged()">Pending
            </label>
            <label>
                <input name="completeness" type="radio" ng-model="queryParams.where.completed" ng-value="true"
                       ng-change="completenessChanged()">Completed
            </label>
            <label>
                <input name="completeness" type="radio" ng-model="queryParams.where.completed" ng-value="undefined"
                       ng-change="completenessChanged()">All
            </label>
        </div>


        <div class="columns small-4">
            <h4>Sort by:</h4>
            <select ng-model="sortBy" ng-options="item for item in sortOptions" ng-change="changeSortBy()">
            </select>
        </div>


        <div class="columns small-4">
            <label>
                <input name="order" type="radio" ng-change="reorder()" ng-model="ascendingOrder" ng-value="true">Ascending
            </label>
            <label>
                <input name="order" type="radio" ng-change="reorder()" ng-model="ascendingOrder" ng-value="false">Descending
            </label>
        </div>
    </div>


    <div class="row">
        <a class="button" ng-click="previousPage()">Previous</a>
        <a class="button" ng-click="nextPage()">Next</a>
    </div>

    <div class="row" ng-repeat="task in tasks">
        <h4 class="columns small-5"><a href="#/tasks/{{task._id}}">{{task.name}}</a></h4>
        <div class="columns small-5">
            <h4>Deadline: {{task.deadline | date:'yyyy/MM/dd HH:mm'}} <br>
                Assigned to: {{task.assignedUserName}}<br>
                <!--Assigned to id: {{task.assignedUser}}<br>-->
                <!--Completed: {{task.completed}}<br>-->
                <!--Date Created: {{task.dateCreated}}<br>-->
                <!--id: {{task._id}}-->
            </h4>
        </div>

        <div class="columns small-1">
            <button type="button" ng-click="deleteTask($index)" class="alert button">Delete</button>
        </div>
    </div>

</div>


