<h2>User Profile</h2>

<div class="row full-width align-center align-middle content-container">
    <h4 class="columns small-3">{{user.name}}</h4>
    <h4 class="columns small-3">{{user.email}}</h4>
</div>

<div class="random-space"></div>

<h2>Pending Tasks</h2>
<div class="row content-container align-middle align-center" ng-repeat="task in pendingTasks">

    <div class="columns small-4"><h6><a href="#/tasks/{{task._id}}">{{task.name}}</a></h6></div>
    <!--<div class="columns small-4">{{task._id}}</div>-->
    <!--<div class="columns small-4">{{task.completed}}</div>-->
    <div class="columns small-4"><h6>Deadline: {{task.deadline | date:'yyyy/MM/dd HH:mm'}}</h6></div>

    <div class="columns small-2">
        <span class="secondary button" ng-click="markTaskComplete($index)">Completed</span>
    </div>
</div>

<div class="random-space"></div>
<div class="row full-width align-center align-middle">
    <span class="button" ng-click="showCompletedTasks()">Show completed Tasks</span>
</div>

<div class="row content-container align-middle align-center" ng-repeat="task in completedTasks">
    <div class="columns small-6"><h6><a href="#/tasks/{{task._id}}">{{task.name}}</a></h6></div>
    <!--<div class="columns small-4">{{task._id}}</div>-->
    <!--<div class="columns small-4">{{task.completed}}</div>-->
    <div class="columns small-6"><h6>Deadline: {{task.deadline | date:'yyyy/MM/dd HH:mm'}}</h6></div>
</div>


<!--{{response}}-->

<!--{{user.pendingTasks}}-->


<h3 class="error-msg">{{errorMsg}}</h3>