<h2>User Profile</h2>

<div class="row">
    <h4 class="columns small-3">{{user.name}}</h4>
    <h4 class="columns small-3">{{user.email}}</h4>
</div>

<h2>Pending Tasks</h2>
<div class="row" ng-repeat="task in pendingTasks">

    <div class="columns small-4">{{task.name}}</div>
    <div class="columns small-4">{{task._id}}</div>
    <div class="columns small-4">{{task.completed}}</div>
    <div class="columns small-4">Deadline: {{task.deadline | date:'yyyy/MM/dd HH:mm'}}</div>

    <div class="columns small-4">
        <span class="secondary button" ng-click="markTaskComplete(task._id)">Completed</span>
    </div>
</div>


<div class="row">
    <span class="button" ng-click="showCompletedTasks()">Show completed Tasks</span>
</div>
<div class="row" ng-repeat="task in completedTasks">
    <div class="columns small-5">{{task.name}}</div>
    <div class="columns small-4">{{task._id}}</div>
    <div class="columns small-4">{{task.completed}}</div>
    <div class="columns small-6">Deadline: {{task.deadline | date:'yyyy/MM/dd HH:mm'}}</div>
</div>


<!--{{response}}-->

{{user.pendingTasks}}

{{errorMsg}}